kinto~=9.0.1
kinto-pusher~=0.6.0
kinto-fxa~=2.5.0
kinto-github-token~=0.1.1
kinto-attachment~=3.0.0
kinto-wizard~=2.3.0
kinto-migrations~=0.1.0
jsonschema~=2.6.0

# kinto-elasticsearch~=0.3.1
# kinto-emailer==1.0.2
# kinto-changes~=1.1.1


# POSTGRESQL_REQUIRES
SQLAlchemy~=1.2.7
# psycopg2~=2.7.4
psycopg2-binary~=2.7.4
zope.sqlalchemy~=1.0

# REDIS_REQUIRES
# kinto-redis~=1.3.0

# MEMCACHED_REQUIRES
# python-memcached~=1.59

# MONITORING_REQUIRES
# raven~=6.8.0
# statsd~=3.2.2
# newrelic~=3.2.1.93
# Werkzeug~=0.14.1


# see also https://github.com/mozilla-services/kinto-dist
